.italic {
	font-style:italic;
}
.bold {
	font-weight: bold;
}

#locations {
	padding:2rem;
	margin:auto;
	width:75%;
	margin-bottom:2rem;

	table {
		background:#fff;
		border: 1px solid #ddd;
		width:100%;
		margin:auto;
	}
	tr {
		padding:0;
		margin:0;

		$exterior: #fffbee;

		&.exterior {
			background-color: $exterior;

			&:nth-child(odd) {
				background-color: darken($exterior, 5%);
			}
		}

		$interior: #eefeff;

		&.interior {
			background-color: #eefeff;

			&:nth-child(odd) {
				background-color: darken($interior, 5%);
			}
		}

		$unknown: #ccc;

		&.unknown {
			background-color: #ccc;

			&:nth-child(odd) {
				background-color: darken($unknown, 5%);
			}
		}

	
	}
	td, th {
		padding:1rem;
		margin:0;
		text-align: left;
	}
	td {
		border-bottom: 1px solid #ddd;
		border-collapse: collapse;
	}
	th {
		background: #444;
		color:#fff;
		border:0;
	}
}