html, body {
	font-family:'Courier Prime', 'Courier';
	background: #ccc;
	margin:0;
	padding: 2rem;
}
.italic {
	font-style:italic;
}
.bold {
	font-weight: bold;
}
#locations, #script {
	background:#fff;
	padding:2rem;
	margin-bottom:2rem;
}
#script {
	display: none;
}
#locations table {
	border: 1px solid #ddd;
}
#locations td, #locations th {
	padding:1rem;
	margin:0;
}
#locations td {
	border-bottom: 1px solid #ddd;
	border-collapse: collapse;
}
#locations th {
	background: #444;
	color:#fff;
	border:0;
}
#locations tr {
	padding:0;
	margin:0;
}
.fountain-script {
	display:none;
}