
.zawn h4 {
	color: #000080;
}

.eurg h4 {
	color: #9966CC;
}

.krilg h4 {
	color: #FF0000;
}

.frude h4 {
	color: #800000;
}

.berde h4 {
	color: #23B8DC;
}

.plaude h4 {
	color: #FF8080;
}

.john h4 {
	color: #004586;
}

.jack h4 {
	color: #FF9966;
}

.seb h4 {
	color: #33A3A3;
}

.nath h4 {
	color: #FF4DFF;
}

.abrahamII h4 {
	color: #99CCFF;
}

.fletcher h4 {
	color: #B3B300;
}

.narrateur h4 {
	color: #94006B;
}

.nestor h4 {
	color: #5C8526;
}

.tertiaires h4 {
	color: #808080;
}

.lieux h4 {
	color: #004891;
}

.chancelier h4 {
	color: #355e00;
}

.kustner h4 {
	color: #808019;
}

.ferguson h4 {
	color: #ff00ff;
}

.josiane h4 {
	color: #eb613d;
}

.mccornicle h4 {
	color: #33a3a3;
}

.alphonse h4 {
	color: #804c19;
}

.gaylord h4 {
	color: #6b4794;
}

.steve h4 {
	color: #94bd5e;
}

.kev h4 {
	color: #33cc66;
}

.kornitchev h4 {
	color: #666600;
}

.croisiere h4 {
	color: #808080;
}

.generique h4 {
	color: #944794;
}

.annonce h4 {
	color: #FF53A9;
}

.selenograph h4 {
	color: #D5D500;
}

.moonmagasine h4 {
	color: #808080;
}

.apollotimes h4 {
	color: #85D500;
}

.bricodecotricot h4 {
	color: #D5006A;
}
